* { 
	background: lightblue; 
}

#top { 
	background: #00AFEC; 
	color: white; 
	font-size:26px;
	text-align:center;
}

#nav{
	float: left;
}

#main { 
	margin-left:160px;
	margin-top:20px;
}

table, th, td {
	border: 1px solid black;
}
ul {
	list-style-type:none;
}

